/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

html, body, header, header *, aside
  background-color #18212a!important

.home .hero img
  max-width 450px!important

.home header
  margin-bottom 50px

.hero .description
  color #666!important

.navbar img
  border-radius 50%

h1, h2, h3, h4, h5, h6, p
  word-break break-word
