/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

*
  background-color #18212a!important

.home .hero img
  max-width 450px!important

.home header
  margin-bottom 50px

.hero .description
  color #666!important

.navbar img
  border-radius 50%

.page h2
  word-break break-word
